/* ----------------------------------------- */
/* basic set up */
/* ----------------------------------------- */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}


/* ----------------------------------------- */
/* reuseable components  */
/* ----------------------------------------- */
.row {
    width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.container {
    display: flex; /* or inline-flex */
    flex-direction: row-reverse;
    padding: 25px 100px;
}

.content {
    padding: 10px;
}

.section-features {
    line-height: 145%;

}
.long-copy-right {
     width: 70%;
     padding-left: 30%;
 }
.box {
    padding: 1%;
}

.box p {
    font-size: 90%;
    line-height: 145%
}
/* ----------------------------------------- */
/* header tags  */
/* ----------------------------------------- */
h1, h2, h3{

    text-transform: uppercase;
    word-spacing: 4px;
}

h1 {
    margin: 0 0 20px 0;
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;

}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
    text-align: center;
}
/* ----------------------------------------- */
/* buttons  */
/* ----------------------------------------- */

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    transition: background-color 0.2s; border: 0.2s; color: 0.2s;

}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;

}

.btn:hover,
.btn:active {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
}

.btn-full:hover,
.btn-full:active {
    background-color: #b7472a;
    border: 1px solid #b7472a;

}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #b7472a;
    color: #fff;

}

.btn:hover,
.btn:active {
    background-color: #b7472a;
}
/* ----------------------------------------- */
/* icons  */
/* ----------------------------------------- */

.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
    text-align: center;
}

/* ----------------------------------------- */
/* Header component  */
/* ----------------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("img/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;

}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%
}
.main-nav li a:link,
.main-nav li a:active {
    padding: 8px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;


}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;

}